# Welcome to my Capstone Project :)

In [11]:
import pandas as pd
import numpy as np
import folium
import json

In [12]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [13]:
!wget -q -O daily_incidents.json https://opendata.arcgis.com/datasets/693811eb361f4da286891eca1fae5943_0.geojson
print('Data downloaded!')

Data downloaded!

In [16]:
with open('daily_incidents.json') as json_data:
    network_data = json.load(json_data)

In [18]:
crime_data = network_data['features']

In [34]:
column_names = ['category','code','district','latitude','longitude']

crime_df = pd.DataFrame(columns=column_names)
crime_data[1]

{'type': 'Feature',
 'properties': {'OBJECTID': 471156,
  'GlobalID': 'c073835e-4cc7-4eb1-9506-2fbb8eb0f80d',
  'CreationDate': '2019-04-02T08:01:16.723Z',
  'Creator': 'OpenData_ral',
  'EditDate': '2019-04-03T20:01:25.357Z',
  'Editor': 'OpenData_ral',
  'case_number': 'P19017793',
  'crime_category': 'DRUGS',
  'crime_code': '54D',
  'crime_description': 'Drug Violation/Misdemeanor',
  'crime_type': 'CRIMES AGAINST SOCIETY',
  'reported_block_address': '500 BLOCK  LIPSCOMB CT',
  'city_of_incident': 'RALEIGH',
  'city': 'RALEIGH',
  'district': 'North',
  'reported_date': '2019-04-02T04:58:00.000Z',
  'reported_year': 2019,
  'reported_month': 4,
  'reported_day': 2,
  'reported_hour': 0,
  'reported_dayofwk': 'Tuesday',
  'latitude': 35.8582859777782,
  'longitude': -78.6474813641172,
  'agency': 'RPD',
  'updated_date': '2019-04-02T08:53:12.000Z'},
 'geometry': {'type': 'Point',
  'coordinates': [-78.64748136387466, 35.85828597793106]}}

In [35]:
for data in crime_data:
    category = data['properties']['crime_category']
    code = data['properties']['crime_code']
    district = data['properties']['district']
    latlon = data['geometry']
    latitude = None
    longitude = None
    if latlon is not None:
        latitude = latlon['coordinates'][0]
        longitude = latlon['coordinates'][1]
    
    crime_df = crime_df.append({column_names[0]: category,
                                 column_names[1]: code,
                                 column_names[2]: district,
                                 column_names[3]: latitude,
                                 column_names[4]: longitude}, ignore_index=True)

In [37]:
crime_df.tail()

               category code  district   latitude  longitude
114     LARCENY FROM MV  35F  Downtown -78.640526  35.772213
115               FRAUD  56C     North -78.612795  35.842553
116           VANDALISM  53A  Downtown -78.647394  35.803127
117               DRUGS  54D  Downtown -78.635345  35.770546
118  ALL OTHER OFFENSES  80A  Downtown -78.635345  35.770546

In [38]:
crime_df.groupby(by='category').count()

                                code  district  latitude  longitude
category
ALL OTHER OFFENSES                 5         5         3          3
ASSAULT                           16        16        16         16
BURGLARY/RESIDENTIAL               1         1         1          1
DISORDERLY CONDUCT                 1         1         1          1
DRUG VIOLATIONS                    2         2         2          2
DRUGS                             12        12        12         12
EMBEZZLEMENT                       1         1         1          1
FRAUD                              6         6         6          6
HUMANE                             2         2         2          2
LARCENY                           17        17        16         16
LARCENY FROM MV                    8         8         8          8
MISCELLANEOUS                     34        34         0          0
MV THEFT                           2         2         2          2
SEX OFFENSES                       4         4         2          2
TRAFFIC                            1         1         0          0
UNAUTHORIZED MOTOR VEHICLE USE     1         1         1          1
VANDALISM                          3         3         3          3
WEAPONS VIOLATION                  3         3         3          3